<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dubmania.dubsmania" >

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".utils.DubsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".misc.SearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_search"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addvideo.AddVideoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_add_sound"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".createdub.CreateDubActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_create_dub"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signupandlogin.SignupAndLoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".misc.AddLanguageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_add_language"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".misc.MyAccountActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_my_account"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".misc.AddVideoBoardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_add_video_board"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".misc.PlayVideoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_play_video"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".misc.VideoBoardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_video_board"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".misc.AddVideoToBoardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_add_video_to_board"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".report.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
