<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dubmania.vidcraft" >

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".utils.VidCraftApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".misc.SearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".main.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addvideo.AddVideoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".main.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".createdub.CreateDubActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_create_dub"
            android:parentActivityName=".main.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signupandlogin.SignupAndLoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".misc.AddLanguageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_add_language"
            android:parentActivityName=".main.HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".misc.MyAccountActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_my_account"
            android:parentActivityName=".main.HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".misc.AddVideoBoardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_add_video_board"
            android:parentActivityName=".main.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name=".misc.PlayVideoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".main.HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".misc.VideoBoardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".main.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name=".misc.AddVideoToBoardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_add_video_to_board"
            android:parentActivityName=".main.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name=".report.FeedbackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".misc.LanguageActivity"
            android:label="@string/title_activity_language"
            android:parentActivityName=".main.HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".main.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.dubmania.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
